<section id="about" class="section is--footer">
  <div class="aerokit_common-container _50px-padding">
    <div class="footer_wrap f-white">
      <div class="footer_top-2">
        <div class="footer_left-2">
          <div
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d35e"
            style="opacity: 0"
            class="footer_brand"
          >
            <img
              src="https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68cb5ce8c1d01041b785dbbc_68718d175d5c3bac2cb5bb76_mainLogo.6fc859d138dc2b4452694a44bdc7e57f%201.svg"
              loading="lazy"
              alt=""
              class="image-12"
            />
            <div class="style-p_large italic">Nevado Trek</div>
          </div>
        </div>
      </div>
      <div class="div-block-79">
        <div class="div-block-80">
          <p
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d364"
            style="opacity: 0"
            class="body-large"
            data-i18n-key="mg.last"
          >
            Donde el frailejón guarda silencio y el páramo te desafía, allí
            comienza tu mejor historia. ¿Subimos?
          </p>
          <div class="footer_socials">
            <a
              href="https://facebook.com/nevadotrek"
              target="_blank"
              class="footer_icon-wrap-2 w-inline-block"
              ><img
                sizes="(max-width: 512px) 100vw, 512px"
                srcset="
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b1f_facebook%2520(1)-p-500.png 500w,
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b1f_facebook%20(1).png         512w
                "
                alt="Facebook"
                src="https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b1f_facebook%20(1).png"
                loading="lazy" /></a
            ><a
              href="https://instagram.com/nevadotrek"
              target="_blank"
              class="footer_icon-wrap-2 w-inline-block"
              ><img
                sizes="(max-width: 512px) 100vw, 512px"
                srcset="
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b2e_instagram-p-500.png 500w,
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b2e_instagram.png       512w
                "
                alt="Instagram"
                src="https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b2e_instagram.png"
                loading="lazy" /></a
            ><a
              href="mailto:info@nevadotrek.com"
              class="footer_icon-wrap-2 w-inline-block"
              ><img
                sizes="(max-width: 512px) 100vw, 512px"
                srcset="
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b29_linkedin%2520(1)-p-500.png 500w,
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b29_linkedin%20(1).png         512w
                "
                alt="Email"
                src="https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b29_linkedin%20(1).png"
                loading="lazy"
            /></a>
          </div>
        </div>
        <div class="footer_right-2">
          <div
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d36e"
            style="opacity: 0"
            class="footer_links-wrap"
          >
            <a
              href="../index.html"
              class="footer_link-2 italic"
              data-i18n-key="nav.home"
              >Inicio</a
            >
            <a
              href="ToursPage.html"
              class="footer_link-2"
              data-i18n-key="nav.tours"
              >Tours</a
            >
          </div>
          <div
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d377"
            style="opacity: 0"
            class="footer_links-wrap"
          >
            <a
              href="Gallery.html"
              class="footer_link-2 italic"
              data-i18n-key="nav.gallery"
              >Galería</a
            >
            <a
              href="../index.html#about"
              class="footer_link-2"
              data-i18n-key="about.title"
              >Nosotros</a
            >
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="footer-bottom-content">
          <p
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d382"
            style="opacity: 0"
            class="body-medium"
            data-i18n-key="footer.copy"
          >
            © 2025 Nevado Trek
          </p>
          <div class="div-block-83">
            <p
              data-w-id="bbe59a75-1477-d996-d067-55a81d80d385"
              style="opacity: 0"
              class="body-large"
              data-i18n-key="footer.lang"
            >
              Esp / Eng
            </p>
          </div>
          <p
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d387"
            style="opacity: 0"
            class="body-medium italic"
            data-i18n-key="footer.madeby"
          >
            Made by Christian Sandoval
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
