<section id="about" class="section is--footer">
  <div class="aerokit_common-container _50px-padding">
    <div class="footer_wrap f-white">
      <div class="footer_top-2">
        <div class="footer_left-2">
          <div
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d35e"
            style="opacity: 0"
            class="footer_brand"
          >
            <img
              src="https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68cb5ce8c1d01041b785dbbc_68718d175d5c3bac2cb5bb76_mainLogo.6fc859d138dc2b4452694a44bdc7e57f%201.svg"
              loading="lazy"
              alt=""
              class="image-12"
            />
            <div class="style-p_large italic">Nevado Trek</div>
          </div>
        </div>
      </div>
      <div class="div-block-79">
        <div class="div-block-80">
          <p
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d364"
            style="opacity: 0"
            class="body-large"
          >
            Connect people with opportunities that bring more fulfillment to
            their lives.
          </p>
          <div class="footer_socials">
            <a href="#" class="footer_icon-wrap-2 w-inline-block"
              ><img
                sizes="(max-width: 512px) 100vw, 512px"
                srcset="
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b1f_facebook%2520(1)-p-500.png 500w,
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b1f_facebook%20(1).png         512w
                "
                alt=""
                src="https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b1f_facebook%20(1).png"
                loading="lazy" /></a
            ><a href="#" class="footer_icon-wrap-2 w-inline-block"
              ><img
                sizes="(max-width: 512px) 100vw, 512px"
                srcset="
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b2e_instagram-p-500.png 500w,
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b2e_instagram.png       512w
                "
                alt=""
                src="https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b2e_instagram.png"
                loading="lazy" /></a
            ><a href="#" class="footer_icon-wrap-2 w-inline-block"
              ><img
                sizes="(max-width: 512px) 100vw, 512px"
                srcset="
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b29_linkedin%2520(1)-p-500.png 500w,
                  https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b29_linkedin%20(1).png         512w
                "
                alt=""
                src="https://cdn.prod.website-files.com/68cb38dfbae5b4c56edac13a/68d209849b388b75d0e90b29_linkedin%20(1).png"
                loading="lazy"
            /></a>
          </div>
        </div>
        <div class="footer_right-2">
          <div
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d36e"
            style="opacity: 0"
            class="footer_links-wrap"
          >
            <a href="#" class="footer_link-2 italic">Careers</a
            ><a href="#" class="footer_link-2">Press &amp; media</a
            ><a href="#" class="footer_link-2">Browse jobs</a
            ><a href="#" class="footer_link-2">Employer support</a>
          </div>
          <div
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d377"
            style="opacity: 0"
            class="footer_links-wrap"
          >
            <a href="#" class="footer_link-2 italic">Careers</a
            ><a href="#" class="footer_link-2">Press &amp; media</a
            ><a href="#" class="footer_link-2">Browse jobs</a
            ><a href="#" class="footer_link-2">Employer support</a>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="footer-bottom-content">
          <p
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d382"
            style="opacity: 0"
            class="body-medium"
          >
            © 2025 Nevado Trek
          </p>
          <div class="div-block-83">
            <p
              data-w-id="bbe59a75-1477-d996-d067-55a81d80d385"
              style="opacity: 0"
              class="body-large"
            >
              Eng / Esp
            </p>
          </div>
          <p
            data-w-id="bbe59a75-1477-d996-d067-55a81d80d387"
            style="opacity: 0"
            class="body-medium italic"
          >
            Made by Christian Sandoval
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
